---
layout: base
title: First Lego League
description: Learn more about our FLL programs
permalink: /about/FLL/
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/pixels", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="about-frc">The FIRST Lego League (FLL)</h2>
      <p>
        The FIRST Lego League (FLL) is a program for students in grades K-8 which utilizes LEGO® as the basis for robotics. FLL offers a great first STEM experience for younger kids.

        There are two programs, the FLL Explore program for students in grades 3-5, and the FLL Challenge program for students in grades 6-8. Both programs focus on teamwork, problem-solving, and creativity, and are a great way for students to get involved in STEM at a young age.
      </p>
    </div>
  </article>