---
layout: base
title: FIRST Lego League (FLL)
description: Learn more about our FLL programs
permalink: /about/FLL/
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      {% image "/assets/images/first-logos/FIRSTLego_iconHorz_RGB_reverse.gif", "FIRST Lego League Logo", null, "eager", "mx-auto text-center" %}
      {# <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1> #}
    </div>
    {% svg "divider/pixels", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="about-fll">FIRST Lego League (FLL)</h2>
      <p>
        FLL is a robotics program for students in grades K-5 that engages with fun engineering challenges using LEGO bricks and simple programming. FLL is a great introduction to the world of robotics and engineering for younger students.
      </p>
      <p>
        FLL is split into two divisions based on age group, FLL Explore for K-3 and FLL Challenge for 4-5. Our teams are small teams of 4-6 students so that each student can get adequate mentorship.
      </p>

      <h3 id="explore">FLL Explore (FLLE)</h3>
      <p>
        Our explore teams aim to introduce kids in grades K-3 to core engineering fundamentals.  Our students get hands-on experience learning introductory coding, design and problem solving.  Kids on the FLL Explore teams are introduced to STEM concepts by building mechanisms out of LEGO to solve real world problems. They are supported with the help of dedicated adult mentors and student mentors from our FLL Challenge, FTC and FRC teams.  
      </p>
      <p>
        Once a season the kids go to an EXPO, which is a low stakes competition where they meet with nearly 20 teams from Parchment, Gull Lake and other local teams from Kalamazoo. At these EXPOs they present to judges for an award of the judges choosing. They also participate in fun STEM based activities such as constructing a marshmallow bridge or tower.
      </p>

      <h3 id="challenge">FLL Challenge (FLLC)</h3>
      <p>
        Building on what they have learned at the Explore level, 4th and 5th grade students continue to use Legos to take their skills up to the next level.
      </p>
      <p>
        Using the provided season kit, students program a Lego robot to autonomously drive around a 4x8 foot game board to complete as many Lego challenges as they can in 2.5 minutes to earn points.  
      </p>
      <p>
        Students also research and present an Innovation project to judges. In the Innovation project, students identify a real world problem and propose a solution to it. They then present their solution to judges at the competition.
      </p>
    </div>
  </article>
</div>
