---
layout: base
title: Team 6002 'ZooBOTix'
description: Learn more about our FRC team 6002 'ZooBOTix'
permalink: /about/FRC/
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      {% image "/assets/images/first-logos/FIRSTRobotics_iconHorz_RGB_reverse.gif", "FIRST Robotics Competition Logo", null, "eager", "mx-auto text-center" %}
      {# <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1> #}
    </div>
    {% svg "divider/soft-top", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="about-frc">FIRST Robotics Competition (FRC)</h2>
      <p>
        The FIRST Robotics Competition is a international competition focused around high school robotics teams. Each year, teams are given a new challenge to solve with a robot designed and built by the students. FRC is more than just the robots, it's about exposing students to the world of STEM using technology and gracious professionalism.
      </p>
      <p>
        On our team, students will have the opportunity to dive deeper into engineering fundamentals. Students will develop core skills in mechanical design, programming, and electrical work. Students will also have the opportunity to learn about project management, marketing, and fundraising. FRC is a great way for students to learn about engineering and technology while also developing important life skills such as teamwork, communication, and problem-solving.
      </p>
      <p>
        Team 6002 ZooBOTix has been competing in FRC since 2016. We have competed in the Michigan State Championship multiple times and have qualified for the World Championship twice. We are a dedicated team of students and mentors who are passionate about robotics and STEM education. We are always looking for new members to join our team and help us continue to grow and succeed in FRC!
      </p>
    </div>
  </article>
</div>
