---
layout: base
title: Team 6002 'ZooBOTix'
description: Learn more about our FRC team 6002 'ZooBOTix'
permalink: /about/frc/
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/soft-top", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="about-frc">The FIRST Robotics Competition(FRC)</h2>
      <p>
        The FIRST Robotics Competition is a international competition focused around high school robotics teams. Each year, teams are given a new challenge to solve with a robot designed and built by the students. FRC is more than just the robots, it's about exposing students to the world of STEM using technology and gracious professionalism.
      </p>
    </div>
  </article>