---
layout: base
title: First Tech Challenge
description: Learn more about our FTC team 6002 'ZooBOTix'
permalink: /about/FTC/
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      {% image "/assets/images/first-logos/FIRSTTech_iconHorz_RGB_reverse.gif", "FIRST Tech Challenge Logo", null, "eager", "mx-auto text-center" %}
      {# <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1> #}
    </div>
    {% svg "divider/edgy", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="about-ftc">FIRST Tech Challenge (FTC)</h2>
      <p>
        FTC is a robotics competition that is structured similarily to it's bigger cousin FRC, but at a smaller scale with simpler robots. In Michigan, FTC is aimed at middle-school students, but in other states it can be for high school students as well. FTC is a great way for students to get involved in robotics and learn about engineering, programming, and teamwork. The competition is designed to be accessible to students of all skill levels, so even if you have no experience with robotics, you can still participate and learn.
      </p>
      <p>
        At FTC students begin to build with metal parts and be able to control the robot with a controller. The students also learn to code in Java and gain experience. Using 3D CAD software, students can design and 3D print their own parts. After the 6 week build season FTC students take their robot to compete at competitions. At these competitions students will compete with other teams in a 2 vs 2 match format. Students will also be judged in an attempt to win awards for their engineering notebook, robot design, and other categories. There are three levels of competition ranging from regional, state, and finally world championships. Each level of competition is more competitive than the last, and teams must win at the previous level to advance to the next.
      </p>
    </div>
  </article>
</div>
