---
layout: base
title: First Tech Challenge
description: Learn more about our FTC team 6002 'ZooBOTix'
permalink: /about/FTC/
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/edgy", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="about-frc">The FIRST Tech Challenge (FTC)</h2>
      <p>
        The First Technical Challenge is based around a smaller scale competition. Students deisgn and build a classroom-scale robot to compete in yearly challenges. FTC is a great way for students to get involved in robotics and STEM at a younger age, and is a great stepping stone to FRC.
      </p>
    </div>
  </article>