---
layout: base
title: Meet the Team
description: Meet the team!
permalink: /about/team/
---
<header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/soft-top", null, "divider" %}
</header>

