/**
Fly-in animation for lemenets
**/
.fly-in {
    opacity: 0;
    transform: translateY(3rem);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fly-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}